<!DOCTYPE HTML>

<html>
<head>
<title>Home</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" type="image" href="images/coldkiller.jpg">

<!--[if lte IE 8]><script src="javascripts/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="stylesheets/main.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="stylesheets/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="stylesheets/ie9.css" /><![endif]-->
</head>
<body class="index">
<div id="page-wrapper">

	<!-- Header -->
		<!-- Header -->
		<header id="header">
			<h1 id="logo"><a href="/"><span>Always</span> FOOLISH</a></h1>
			<nav id="nav">
				<ul>
					<% if(!user){%>
						<li class="current"><a href="/">欢迎</a></li>
					<%}else{%>
						<li class="current"><a href="/">欢迎, <%=user.username%></a></li>
					<%}%>
					<li class="submenu">
						<a href="#">选项</a>
						<ul>
							<li><a href="article.html">所有博客</a></li>
							<li><a href="write.html">发布博客</a></li>
							<li><a href="logout">登出</a></li>
						</ul>
					</li>
					<%if(!user){%>
					<li><a href="login.html" class="button special">登录</a></li>
					<%}%>
				</ul>
			</nav>
		</header>

	<!-- Banner -->
		<section id="banner">

			<!--
				".inner" is set up as an inline-block so it automatically expands
				in both directions to fit whatever's inside it. This means it won't
				automatically wrap lines, so be sure to use line breaks where
				appropriate (<br />).
			-->
			<div class="inner">

				<header>
					<h2>LEO</h2>
				</header>
				<p><!--[-->这里是<!--]--> <strong><!--[-->LEO<!--]--></strong><!--[-->的私人小窝<!--]-->
				<br />
				<!--[--><!--]-->
				<br />
				<!--[-->欢迎光临.<!--]--></p>
				<footer>
					<ul class="buttons vertical">
						<li><a href="#main" class="button fit scrolly"><!--[-->随便逛逛<!--]--></a></li>
					</ul>
				</footer>

			</div>

		</section>

	<!-- Main -->
		<article id="main">

			<header class="special container">
				<span class="icon fa-bar-chart-o"></span>
				<h2><!--[-->记录自己的点滴<!--]-->
				<br />
				<!--[-->留下自己的回忆<!--]--></h2>
				<p><!--[-->闲暇的时候来这里逛逛，修修补补这个小窝，也算是一种休闲方式<!--]-->
				<br />
				<!--[-->我也不知道在这里记录什么，感觉平凡的自己没有能让人印象深刻的东西<!--]-->
				<br />
				<!--[-->空闲时光的产物，也许就会让她一直空闲下去<!--]--></p>
			</header>

			<!-- One -->
				<section class="wrapper style2 container special-alt">
					<div class="row">
						<div class="4u 12u(narrower)">

							<section>
								<span class="icon featured fa-check"></span>
								<header>
									<h3><!--[-->Life<!--]--></h3>
								</header>
								<p>看我扯扯淡</p>
							</section>

						</div>
						<div class="4u 12u(narrower)">

							<section>
								<span class="icon featured fa-check"></span>
								<header>
									<h3><!--[-->Study<!--]--></h3>
								</header>
								<p>听我吹吹牛</p>
							</section>

						</div>
						<div class="4u 12u(narrower)">

							<section>
								<span class="icon featured fa-check"></span>
								<header>
									<h3><!--[-->Entertainment<!--]--></h3>
								</header>
								<p>看我装个嘿嘿嘿</p>
							</section>

						</div>
					</div>
				</section>

			<!-- Two -->
				<section class="wrapper style3 container special">

					<header class="major">
						<h2><strong><!--[-->照片墙<!--]--></strong></h2>
					</header>

					<div class="row">
						<div class="6u 12u(narrower)">

							<section>
								<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
								<header>
									<h3><!--[-->一片空白<!--]--></h3>
								</header>
								<p>也许等我有个GF，这里将是她的世界</p>
							</section>

						</div>
						<div class="6u 12u(narrower)">

							<section>
								<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
								<header>
									<h3><!--[-->什么都没有<!--]--></h3>
								</header>
								<p>又在异想天开， 天都亮了</p>
							</section>

						</div>
					</div>
					<div class="row">
						<div class="6u 12u(narrower)">

							<section>
								<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
								<header>
									<h3><!--[-->但是还是很期待<!--]--></h3>
								</header>
								<p>哇哈哈哈哈</p>
							</section>

						</div>
						<div class="6u 12u(narrower)">

							<section>
								<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
								<header>
									<h3><!--[-->期待她的到来<!--]--></h3>
								</header>
								<p>Hope that you are my terminal station!</p>
							</section>

						</div>
					</div>

					<footer class="major">
						<ul class="buttons">
							<li><a href="#" class="button">更多回忆</a></li>
						</ul>
					</footer>

				</section>

		</article>

	<!-- Footer -->
		<footer id="footer">

			<ul class="icons">
				<li><a href="https://twitter.com/casualture" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/casualxg" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="https://github.com/FebFirst" class="icon circle fa-github"><span class="label">Github</span></a></li>
				<li><a href="https://www.youtube.com/channel/UC5mNVhrkWMFJ0vXFDXvBgqg?view_as=subscriber" class="icon circle fa-youtube"><span class="label">YouTube</span></a></li>
			</ul>

			<ul class="copyright">
				<li>Always foolish</li>
			</ul>

		</footer>

</div>

<!-- Scripts -->
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/jquery.dropotron.min.js"></script>
<script src="javascripts/jquery.scrolly.min.js"></script>
<script src="javascripts/jquery.scrollgress.min.js"></script>
<script src="javascripts/skel.min.js"></script>
<script src="javascripts/util.js"></script>
<!--[if lte IE 8]><script src="javascripts/ie/respond.min.js"></script><![endif]-->
<script src="javascripts/main.js"></script>

</body>
</html>