<!DOCTYPE HTML>

<html>
<head>
	<title>GoogOL</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="shortcut icon" type="image" href="/images/czym.png">
	<!--[if lte IE 8]><script src="javascripts/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="stylesheets/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="stylesheets/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="stylesheets/ie9.css" /><![endif]-->
</head>
<body class="index">
<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<h1 id="logo"><a href="/"><span>STAY</span> FOOLISH</a></h1>
			<nav id="nav">
				<ul>
					<% if(!user){%>
						<li class="current"><a href="/">欢迎</a></li>
					<%}else{%>
						<li class="current"><a href="/">欢迎, <%=user.username%></a></li>
					<%}%>
					<li class="submenu">
						<a href="#">选项</a>
						<ul>
							<li><a href="/article.html">所有博客</a></li>
							<li><a href="/write.html">发布博客</a></li>
							<li><a href="/image.html">所有照片</a></li>
							<li><a href="/upload.html">上传照片</a></li>
							<li><a href="/logout">登出</a></li>
						</ul>
					</li>
					<%if(!user){%>
					<li><a href="/login.html" class="button special">登录</a></li>
					<%}%>
				</ul>
			</nav>
		</header>

	<!-- Banner -->
		<section id="banner">

			<!--
				".inner" is set up as an inline-block so it automatically expands
				in both directions to fit whatever's inside it. This means it won't
				automatically wrap lines, so be sure to use line breaks where
				appropriate (<br />).
			-->
			<div class="inner">

				<header>
					<h2>LEO</h2>
				</header>
				<p><!--[-->这里是<!--]--> <strong><!--[-->LEO<!--]--></strong><!--[-->的私人小窝<!--]-->
				<br />
				<!--[--><!--]-->
				<br />
				<!--[-->欢迎光临.<!--]--></p>
				<footer>
					<ul class="buttons vertical">
						<li><a href="#main" class="button fit scrolly"><!--[-->随便逛逛<!--]--></a></li>
					</ul>
				</footer>

			</div>

		</section>

	<!-- Main -->
		<article id="main">

			<header class="special container">
				<span class="icon fa-bar-chart-o"></span>
				<h2><!--[-->记录自己的点滴<!--]-->
				<br />
				<!--[-->留下自己的回忆<!--]--></h2>
				<p><!--[-->闲暇的时候来这里逛逛，修修补补这个小窝，也算是一种休闲方式<!--]-->
				<br />
				<!--[-->我也不知道在这里记录什么，感觉平凡的自己没有能让人印象深刻的东西<!--]-->
				<br />
				<!--[-->空闲时光的产物，也许就会让她一直空闲下去<!--]--></p>
			</header>
			<br /><br /><br />
			<!-- One -->
			<section class="wrapper style1 container special">
				<div class="row">
					<div class="6u 12u(narrower)">

						<section>
							<span class="icon featured fa-pencil-square-o"></span>
							<header>
								<h3><a href = "/article.html"><!--[-->文字屋<!--]--></a></h3>
							</header>
							<p>我耳边轻语</p>
						</section>

					</div>
					<div class="6u 12u(narrower)">

						<section>
							<span class="icon featured fa-picture-o"></span>
							<header>
								<h3><a href = "/image.html"><!--[-->照片墙<!--]--></a></h3>
							</header>
							<p>她笑靥如画</p>
						</section>

					</div>
				</div>
			</section>

		</article>

	<!-- Footer -->
		<footer id="footer">

			<ul class="icons">
				<li><a href="https://twitter.com/casualture" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/casualxg" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="https://github.com/FebFirst" class="icon circle fa-github"><span class="label">Github</span></a></li>
				<li><a href="https://www.youtube.com/channel/UC5mNVhrkWMFJ0vXFDXvBgqg?view_as=subscriber" class="icon circle fa-youtube"><span class="label">YouTube</span></a></li>
			</ul>

			<ul class="copyright">
			<li>Copyright &copy; 2018. leoxiong.cn All rights reserved.</li>
			</ul>

		</footer>

</div>

<!-- Scripts -->
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/jquery.dropotron.min.js"></script>
<script src="javascripts/jquery.scrolly.min.js"></script>
<script src="javascripts/jquery.scrollgress.min.js"></script>
<script src="javascripts/skel.min.js"></script>
<script src="javascripts/util.js"></script>
<!--[if lte IE 8]><script src="javascripts/ie/respond.min.js"></script><![endif]-->
<script src="javascripts/main.js"></script>

</body>
</html>