<!DOCTYPE HTML>

<html>
	<head>
		<title>casualxg-Always foolish</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image" href="images/coldkiller.jpg">
		<!--[if lte IE 8]><script src="javascripts/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="stylesheets/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="stylesheets/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="stylesheets/ie9.css" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">

			<!-- Header -->
            <header id="header">
				<h1 id="logo"><a href="/"><span>Always</span> FOOLISH</a></h1>
				<nav id="nav">
					<ul>
						<% if(!user){%>
							<li class="current"><a href="/">欢迎</a></li>
						<%}else{%>
							<li class="current"><a href="/">欢迎, <%=user.username%></a></li>
						<%}%>
						<li class="submenu">
							<a href="#">选项</a>
							<ul>
								<li><a href="article.html">所有博客</a></li>
								<li><a href="write.html">发布博客</a></li>
								<li><a href="logout">登出</a></li>
							</ul>
						</li>
						<%if(!user){%>
						<li><a href="login.html" class="button special">登录</a></li>
						<%}%>
					</ul>
				</nav>
			</header>

                <article id="main">
					<!-- One -->
						<section class="wrapper style2 special container 50%">
                                
					            <header class="special container 25%" style="padding-top: 1em">
                                    <span class="icon fa-user"></span>
					            </header>
							<!-- Content -->
								<div class="content">
									<form action="login" method="post">
										<div class="row 50%">
											<div class="12u">
												<input type="text" name="email" placeholder="Email" />
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<input type="password" name="password" placeholder="Password"/>
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<ul class="buttons">
													<li><input type="submit" class="special" value="SIGN IN" /></li>
												</ul>
											</div>
										</div>
									</form>
								</div>

						</section>

				</article>
<!-- Main -->
				

			<!-- Footer -->
            <footer id="footer">

                <ul class="icons">
                    <li><a href="https://twitter.com/casualture" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/casualxg" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://github.com/FebFirst" class="icon circle fa-github"><span class="label">Github</span></a></li>
                    <li><a href="https://www.youtube.com/channel/UC5mNVhrkWMFJ0vXFDXvBgqg?view_as=subscriber" class="icon circle fa-youtube"><span class="label">YouTube</span></a></li>
                </ul>
    
                <ul class="copyright">
                    <li>Always foolish</li>
                </ul>
    
            </footer>
    

		</div>

		<!-- Scripts -->
			<script src="javascripts/jquery.min.js"></script>
			<script src="javascripts/jquery.dropotron.min.js"></script>
			<script src="javascripts/jquery.scrolly.min.js"></script>
			<script src="javascripts/jquery.scrollgress.min.js"></script>
			<script src="javascripts/skel.min.js"></script>
			<script src="javascripts/util.js"></script>
			<!--[if lte IE 8]><script src="javascripts/ie/respond.min.js"></script><![endif]-->
			<script src="javascripts/main.js"></script>

	</body>
</html>